
.categoriesButton{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin:20px;
    margin-left:850px;
    width: 500px;
    
    
    
}

.categoriesButton-Rolex{
    margin-left:20px
}

.cardLink{
    text-decoration: none;
}
