

    .imgCards{

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        height: 300px;
        width: 250px;
    }

    .containerList{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .Spinner{

        margin-left: 800px;
        margin-top: 200px;
    }