
.divMain{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .divCards{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin:40px;
    }
    
}
